@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    List<producto> productos = ViewBag.Productos;

}



<div class="row">
    <h4>Productos</h4>
</div>
<div class="row g-4">
    <div class="col-md"></div>
    <div class="col-md"></div>
    <div class="col-md"></div>
    <div class="col-md">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar
        </button>
    </div>
</div>
<div class="row">
    

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#NoParte</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in productos)
            {
            <tr>
                <th scope="row">@item.noParte</th>
                <td>@item.nombre</td>
                <td>@item.descripcion</td>
                <td>@item.precio</td>
                <td>@item.cantidad</td>
                <td><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick='Editar(@Json.Serialize(item))'>Editar</button></td>
            </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <input class="form-control" type="text" required id="idnoParte" value="" />
                        <label>NoParte</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="text" required id="idnombre" value="" />
                        <label>Nombre</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="text" required id="iddescrip" value="" />
                        <label>Descripcion</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="number" required id="idprecio" value="" />
                        <label>Precio</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="number" required id="idcantidad" value="" />
                        <label>Cantidad</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="guardar1(this)" >Guardar</button>
                </div>
            
        </div>
    </div>
</div>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            
            <strong class="me-auto">Alerta</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="alertaa">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<script type="text/javascript">
    function guardar1() {
        var vnoParte = document.getElementById('idnoParte').value;
        var vnombre = document.getElementById('idnombre').value;
        var vdescripcion = document.getElementById('iddescrip').value;
        var vprecio = document.getElementById('idprecio').value;
        var vcantidad = document.getElementById('idcantidad').value;

        $.ajax({
            type: "POST",
            url: "/Home/setProducto",
            dataType: "json",
            data: {
                producto: {
                    noParte :vnoParte,
                    nombre :vnombre,
                    descripcion :vdescripcion,
                    precio :vprecio,
                    cantidad:vcantidad

                }
            },
            statusCode: {
                401: function () {
                    console.log("Error 401")
                    window.location.assign(window.location.href);
                }
            },
            success: function (result) {

                var toastLiveExample = document.getElementById('liveToast');
                var toast = new bootstrap.Toast(toastLiveExample);
                toast.show();
                console.log(result);
                document.getElementById('alertaa').innerHTML = result.msj;
                if (result.estatus==1) {
                    location.reload();
                } else {

                }

                toast.show();

            }
        });

    }

    function Editar(item) {
        document.getElementById('idnoParte').value = item.noParte;
        document.getElementById('idnombre').value = item.nombre;
        document.getElementById('iddescrip').value = item.descripcion;
        document.getElementById('idprecio').value = item.precio;
        document.getElementById('idcantidad').value = item.cantidad;
    }

</script>
